{% extends "layout.html" %}
{% block body %}
<br>
{% for todo in todos %}
<p>Task: {{ todo.task }} </p>
<p>Completed: {{ todo.completed }}</p> 

<form action="{{url_for('update', id=todo.id)}}">
<button type="Submit"> Update Task</button>
</form>
<form action="{{url_for('delete', id=todo.id)}}">
<button type="Submit"> Delete Task</button>
</form>
<form action="{{url_for('complete', id=todo.id)}}">
<button type="Submit"> Complete Task</button>
</form>
<form action="{{url_for('incomplete', id=todo.id)}}">
<button type="Submit"> Incomplete Task</button>
</form>
<br>
<br>

{% endfor %}
{% endblock body %}